
@{}

<head>

    <style>
        th {
            border: 1px solid black;
        }

        tr {
            border: 1px solid black;

        }
    </style>

</head>

<h1>Arbeidsdokumenter </h1>

<h1>søkefelt </h1>

<table id="hm?">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            OrdreNummer
        </th>

        <th>
            Kunde
        </th>

        <th>
            Produkt
        </th>

        <th>
            Status
        </th>

        <th>
            Service Ferdig
        </th>

        


        @* undergreier i tabellen *@

    </tr>
    <tr>

        <td> X </td>
        <td> X </td>
        <td> X </td>
        <td> X </td>
        <td> X </td>
        <td> X </td>
        
        
    </tr>
    <br />
    <br />
    <tr>
        
        <td> X </td>
        <td> X </td>
        <td> X </td>
        <td> X </td>
        <td> X </td>
        

    </tr>

    @*<tbody>
    @foreach (var person in Model.Persons)
    {
    <tr>
    <td>@person.ID</td>
    <td>@person.Name</td>
    <td>@person.Age</td>
    </tr>
    }
    </tbody> *@

</table>
