@using Igland.MVC.Models.Account;

@model LoginFullViewModel

@{
    ViewData["Title"] = "Hjem";
}

<h2>Velkommen @User.Identity.Name.Split('@')[0]</h2>



<div class="buttons">

    <a style="text-decoration:none" asp-controller="Ordre" asp-action="Index" class="box-link">
        <div class="box">Legg in ordre</div>
    </a>

    <a style="text-decoration:none" asp-controller="Kunder" asp-action="Index" class="box-link">
        <div class="box">Kunder</div>
    </a>
</div>


