.larger-text {
    font-size: 24px;
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.box-link {
    text-decoration: none;
}

    .box-link:hover .box {
        color: #E7792C;
    }

.box {
    background-color: #101820;
    color: #9CB7C2;
    padding: 70px 60px;
    border-radius: 50px;
    text-align: center;
}

    .box:hover {
        color: #9CB7C2; /* Change it back to the original color on hover if needed */
    }

.overskrift, tabell {
    text-align: center;
}

th, tr, td {
    border: 1px solid black;
    padding: 20px;
}

.row-data:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.button-link {
    display: inline-block;
    border: 1px solid black;
    padding: 4px 10px;
    background-color: white;
    color: black;
    text-decoration: black;
    border-radius: 5px;
}

    .button-link:hover {
        background-color: lightgrey;
    }
