@model Igland.MVC.Models.RazorViewModel
@{
    ViewData["Title"] = "Privacy";
}

<h4>Velkommen</h4>
<p>Nøsted & AS </p>
<p>
    Privacy Policy
    What Data We Collect
    Use of Your Personal information
    Disclosure of Your Personal information
    Third Party Websites
    Your Choices Regarding Information
    Young People
</p>
