@using Igland.MVC.Models.Users
@model UserViewModel
@{
    ViewData["Title"] = "Adminside";
}
<h2>Hva vil du gjøre @User.Identity.Name.Split('@')[0]?</h2>
<hr >
<div>
    <a style="text-decoration:none" asp-action="Oversikt">Oversikt over brukere</a>
</div>
<br>
<div>
    <a style="text-decoration:none" asp-action="Register" class="textlink">Registrer en ny bruker</a>
</div>
<br>


