@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Igland.MVC.Entities
@using Igland.MVC.Models.Account
@model LoginViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    Layout = null; // Set the layout to null
}

<style>
    body {
        align-items: center;
        background-color: #000;
        display: flex;
        justify-content: center;
        height: 100vh;
    }

    * {
        font-family: ulp-font,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,sans-serif;
        
    }

    .newuser {
        text-decoration: none;
        margin-left: 15px;
        margin-top: 20px;
        color: #06b;
    }

    a {
        text-decoration: none;
    }
    .form {
        background-color: #FFFFFF;
        border-radius: 5px;
        box-sizing: border-box;
        height: 500px;
        padding: 20px;
        width: 320px;
    }

    .title {
        color: #2D333A;
        font-size: 24px;
        font-weight: 600;
        margin-top: 30px;
        font-weight: lighter;
        margin-left: 70px;
        margin-right: auto;
    }

    .input-container {
        height: 50px;
        position: relative;
        width: 100%;
    }

    .ic1 {
        margin-top: 40px;
    }

    .ic2 {
        margin-top: 30px;
    }

    .input {
        border: 5px;
        box-sizing: border-box;
        color: #6F8CB5;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
        border-radius: .5px;
        font-weight: lighter;
    }

        .input:focus {
            border: 2px solid #06b; /* Add a blue border when input is focused */
        }

    .cut {
        background-color: white;
        height: 20px;
        left: 10px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 40px;
    }

    .cut2 {
        background-color: white;
        height: 20px;
        left: 10px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 55px;
    }

    .cut-short {
        width: 50px;
    }

    .cut-short2 {
        width: 50px;
    }
    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
    }

    .input:focus ~ .cut2,
    .input:not(:placeholder-shown) ~ .cut2 {
        transform: translateY(8px);
    }

    .placeholder {
        color: #65657b;
        left: 5px;
        line-height: 14px;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
    }

    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
    }

    .input:not(:placeholder-shown) ~ .placeholder {
        color: #808097;
    }

    .input:focus ~ .placeholder {
        color: #06b;
    }

    .submit {
        background-color: #E7792C;
        border-radius: 5px;
        border: 0;
        box-sizing: border-box;
        color: #333C4D;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        text-align: center;
        width: 100%;
    }

        .submit:active {
            background-color: #06b;
        }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        max-height: 50%;
    }


</style>

    <div class="form">
    <div class="img">
        <img src="~/lib/iglandbilde.webp">
    </div>
    <div class="title">Velkommen</div>
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-container ic1">
        <input asp-for="Email" type="text" placeholder=" " class="input" required>
            <div class="cut"></div>
        <label asp-for="Email" class="placeholder"><b>Email</b></label>
        <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    
    <div class="input-container ic2">
        <input asp-for="Password" type="password" placeholder=" " class="input" required>
            <div class="cut2"></div>
        <label asp-for="Password" class="placeholder"><b>Passord</b></label>
        <span asp-validation-for="Password" class="text-danger"></span>
            <button type="submit" class="submit">Login</button>
            <div>
                <a href="#" onclick="showAlert()" style="text-decoration:underline; display:flex; margin-top:30px; justify-content:center", >Noe er galt</a>
            </div>
            </div>
   
    </form>
    
    </div>

    
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function showAlert() {
        alert("Vennligst rapporter problemet til ledelsen");
    }
</script>

