div {
    display: inline-table;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.left-side {
    margin-left: 200px;
    
}

.input-field, .comment-field {
    width: 300px;
    height: 50px;
}

.comment-field {
    height: 150px;
    width: 300px;
}
