﻿@using Igland.MVC.Models.ServiceDokument;


@model ServiceDokumentFullViewModel
@{
    ViewData["Title"] = "Nytt serviceskjema";
}
<h1>Serviceskjema</h1>
<a style="text-decoration:none" asp-controller="ServiceDokument" asp-action="Index" >
    <div>Tilbake</div>
</a>
<hr />
        <form asp-action="Post" asp-controller="ServiceDokument" method="post">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <label asp-for="UpsertModel.OrdreNummer"></label><br />
            <input asp-for="UpsertModel.OrdreNummer" type="number"  /><br />

            <label asp-for="UpsertModel.Aarsmodel">Årsmodel</label><br />
            <input asp-for="UpsertModel.Aarsmodel" type="number" /><br />

            <label asp-for="UpsertModel.Garanti"></label><br />
            <input asp-for="UpsertModel.Garanti" type="text" /><br />

            <label asp-for="UpsertModel.Reparasjonsbeskrivelse"></label><br />
            <textarea asp-for="UpsertModel.Reparasjonsbeskrivelse" type="text" rows="5" autofocus></textarea><br />
            <label asp-for="UpsertModel.MedgaatteDeler">Medgåtte deler</label><br />
            <textarea asp-for="UpsertModel.MedgaatteDeler" type="text" rows="5" autofocus></textarea><br />

            <label asp-for="UpsertModel.DeleRetur">Deler og retur</label><br />
            <input asp-for="UpsertModel.DeleRetur" type="text" /><br />

            <label asp-for="UpsertModel.ForesendelsesMaate">Foresendelsesmåte</label><br />
            <input asp-for="UpsertModel.ForesendelsesMaate" type="text" /><br />
            <br />
            <input type="submit" />
        </form>
