﻿@using Igland.MVC.Models.Ordre;


@model OrdreFullViewModel
@{
    ViewData["Title"] = "Ny ordre";
}
<h1>Ordre</h1>
<a style="text-decoration:none" asp-controller="Ordre" asp-action="Index">
    <div>Tilbake</div>
</a>
<hr />
<body>

    <form asp-action="Post" asp-controller="Ordre" method="post">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <label asp-for="UpsertModel.OrdreNummer"></label> <br />
        <input id="commonInput" type="number" required /><br />
        <input asp-for="UpsertModel.OrdreNummer" type="hidden" />
        <input asp-for="UpsertArbDok.OrdreNummer" type="hidden" />
        <input asp-for="UpsertSjekkliste.OrdreNummer" type="hidden" />
        <input asp-for="UpsertServicedokument.OrdreNummer" type="hidden" />


        <label asp-for="UpsertModel.KundeID">
            KundeID. Denne må finnes, <a style="text-decoration:none" asp-controller="Kunder" asp-action="Index">klikk her for å finne KundeID</a>
        </label> <br />
        <input asp-for="UpsertModel.KundeID" type="number" placeholder="100" /><br />

        <label asp-for="UpsertModel.SerieNummer"></label> <br />
        <input asp-for="UpsertModel.SerieNummer" type="text" /><br />

        <label asp-for="UpsertModel.VareNavn"></label> <br />
        <input asp-for="UpsertModel.VareNavn" type="text" /><br />

        <label asp-for="UpsertModel.Status"></label> <br />
        <select asp-for="UpsertModel.Status" required>
            <option value="Ordre opprettet">Ordre opprettet</option>
            <option value="Produkt mottatt">Produkt mottatt</option>
            <option value="Sjekk utført">Sjekk utført</option>
            <option value="Service ferdig">Service ferdig</option>
            <option value="Case ferdig">Case ferdig</option>
        </select>
        <br /><br />
        @*
        <input id="commonInputforStatus" type="text" required /><br />
        <input asp-for="UpsertModel.Status" type="hidden" />
        <input asp-for="UpsertArbDok.Status" type="hidden" />
        *@
        <input type="submit" />
    </form>
</body>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#commonInput').on('input', function () {
            var inputValue = $(this).val();
            $('input[name="UpsertModel.OrdreNummer"]').val(inputValue);
            $('input[name="UpsertArbDok.OrdreNummer"]').val(inputValue);
            $('input[name="UpsertSjekkliste.OrdreNummer"]').val(inputValue);
            $('input[name="UpsertServicedokument.OrdreNummer"]').val(inputValue);
        });
    });
    $(document).ready(function () {
        $('#commonInputforStatus').on('input', function () {
            var inputValue = $(this).val();
            $('input[name="UpsertModel.Status"]').val(inputValue);
            $('input[name="UpsertArbDok.Status"]').val(inputValue);
        });
    });
</script>