

<head>

    <style>

        .overskrift, tabell {
            text-align: center;
        }

        th, tr, td {
            border: 1px solid black;
            padding: 5px;
        }

    </style>

</head>


<div class="overskrift">

    <h1>Ny Service dokument </h1>
    <br />
    
</div>



<table id="tabell" , align="center">

        <thead>
            <tr>
                <th class="header-label">Kunde</th>
                <th class="header-label">Adresse</th>
                <th class="header-label">E-Mail</th>
                <th class="header-label">Telefon</th>
                <th class="header-label">Ordrenummer</th>
               
           
                
            </tr>
            <tr>
                <th><input type="string"></th>
                <th><input type="string"></th>
                <th><input type="string"></th>
                <th><input type="number"></th>
                <th><input type="number"></th>
                
            </tr>
        </thead>


    @*<tbody>
    @foreach (var person in Model.Persons)
    {
    <tr>
    <td>@person.ID</td>
    <td>@person.Name</td>
    <td>@person.Age</td>
    </tr>
    }
    </tbody> *@

</table>


