
<h1>Ny Serviceskjema</h1>
<br>

<head>
    <title>ServiceForm</title>
    <style>

       

        .form-container {
            display: flex;
            justify-content: space-between;
        }

        .left-side, .right-side {
            width: 45%;
            margin-left: 20px;
        }

        .input-field, .comment-field {
            width: 100%;
        }

        .comment-field {
            height: 150px;
        }

       

    </style>
</head>
<body>

    <div class="form-container">
        <form>
          
                <label for="input1">Kunde:</label>
                <input type="text" id="input1" class="input-field" placeholder="">

                <label for="input2">Mottatt dato:</label>
                <input type="text" id="input2" class="input-field" placeholder="">

                <label for="input3">Adresse:</label>
                <input type="text" id="input3" class="input-field" placeholder="">

                <label for="input4">E-Mail:</label>
                <input type="text" id="input4" class="input-field" placeholder="">

                <label for="input5">Ordrenummer:</label>
                <input type="text" id="input5" class="input-field" placeholder="">

                <label for="input6">Telefon:</label>
                <input type="text" id="input6" class="input-field" placeholder="">

                <label for="input7">Produkttype:</label>
                <input type="text" id="input7" class="input-field" placeholder="">

                <label for="input8">Årsmodell:</label>
                <input type="text" id="input8" class="input-field" placeholder="">

                <label for="input9">Service / rep:</label>
                <input type="text" id="input9" class="input-field" placeholder="">

                <label for="input10">Garanti?:</label>
                <input type="text" id="input10" class="input-field" placeholder="">

                <label for="input11">Serienummer:</label>
                <input type="text" id="input11" class="input-field" placeholder="">

                <br />
                <br />

                    <label for="comment-field"> Hva er avtalt med kunden:</label>
                    <textarea class="comment-field" placeholder="maks grense 500 tegn"></textarea>
                    
                    <label for="comment-field"> Reparasjonsbeskrivelse:</label>
                    <textarea class="comment-field" placeholder="maks grense 500 tegn"></textarea>

                    <label for="comment-field"> Medgåtte deler:</label>
                    <textarea class="comment-field" placeholder="maks grense 500 tegn"></textarea>

               <br />
               <br />


                <label for="input12">Arbeidstimer:</label>
                <input type="text" id="input12" class="input-field" placeholder="">

                <label for="input13">ferdigstilt dato:</label>
                <input type="text" id="input13" class="input-field" placeholder="">

                <label for="input14">underskrift deler returnert:</label>
                <input type="text" id="input14" class="input-field" placeholder="??">

                <label for="input15">forsendelesmåte :</label>
                <input type="text" id="input15" class="input-field" placeholder="">

                <label for="input16">sign. kunde:</label>
                <input type="text" id="input16" class="input-field" placeholder="??">

                <label for="input17">sign. reparatør:</label>
                <input type="text" id="input17" class="input-field" placeholder="??">

                    <button type="button" id="send-in">Send In</button>
        </form>
    </div>


</body>



@*
// Add event listener for the "Send In" button
        document.getElementById('send-in').addEventListener('click', function() {
            // Validate if all necessary fields are filled out before sending
            // If validation passes, you can proceed with sending the data
            alert('Sending in the form data...');
        });

*@


