@model Igland.MVC.Models.RazorViewModel
@{
    ViewData["Title"] = "Kalender";
}
@*Fra https://www.w3schools.com/howto/howto_css_calendar.asp*@
<div class="month">
    <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>Oktober<br><span style="font-size:18px">2023</span></li>
    </ul>
</div>

<ul class="weekdays">
    <li>Ma</li>
    <li>Ti</li>
    <li>On</li>
    <li>To</li>
    <li>Fr</li>
    <li>Lø</li>
    <li>Sø</li>
</ul>

<ul class="days">
    <li>23</li>
    <li>24</li>
    <li><span class="active">25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
    <li>32</li>
    <li>33</li>
    <li>34</li>
    <li>35</li>
    <li>36</li>
</ul>