@using Igland.MVC.Models.ArbDok;
@model ArbDokFullViewModel

<h1>Arbeidsdokument</h1>
<br>
<body>
    <form asp-action="Post" asp-controller="ArbDok" method="post">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <!-- <label asp-for="UpsertArbDok.ArbDokID"></label>
        <input asp-for="UpsertArbDok.ArbDokID" type="number" /><br /> -->

        <label asp-for="UpsertArbDok.OrdreNummer"></label>
        <input asp-for="UpsertArbDok.OrdreNummer" type="number" required/><br />

        <label asp-for="UpsertArbDok.Kunde"></label>
        <input asp-for="UpsertArbDok.Kunde" type="text" required/><br />

        <label asp-for="UpsertArbDok.Vinsj"></label>
        <input asp-for="UpsertArbDok.Vinsj" type="text" required/><br />

        <label asp-for="UpsertArbDok.HenvendelseMotatt"></label>
        <input asp-for="UpsertArbDok.HenvendelseMotatt" type="date" required/><br />

        <label asp-for="UpsertArbDok.AvtaltLevering"></label>
        <input asp-for="UpsertArbDok.AvtaltLevering" type="date" /><br />

        <label asp-for="UpsertArbDok.ProduktMotatt"></label>
        <input asp-for="UpsertArbDok.ProduktMotatt" type="date" /><br />

        <label asp-for="UpsertArbDok.SjekkUtfort"></label>
        <input asp-for="UpsertArbDok.SjekkUtfort" type="date" /><br />

        <label asp-for="UpsertArbDok.AvtaltFerdig"></label>
        <input asp-for="UpsertArbDok.AvtaltFerdig" type="date" /><br />

        <label asp-for="UpsertArbDok.ServiceFerdig"></label>
        <input asp-for="UpsertArbDok.ServiceFerdig" type="date" /><br />

        <label asp-for="UpsertArbDok.AntallTimer"></label>
        <input asp-for="UpsertArbDok.AntallTimer" type="number" /><br />

        <label asp-for="UpsertArbDok.BestillingFraKunde"></label>
        <!-- <textarea asp-for="UpsertModel.BestillingFraKunde" type="text" placeholder="Maks grense 255 tegn"></textarea> -->
        <input asp-for="UpsertArbDok.BestillingFraKunde" type="text" placeholder="Maks grense 255 tegn" /><br />

        <label asp-for="UpsertArbDok.NotatFraMekaniker"></label>
        <!-- <textarea asp-for="UpsertModel.NotatFraMekaniker" type="text" placeholder="Maks grense 255 tegn"></textarea> -->
        <input asp-for="UpsertArbDok.NotatFraMekaniker" type="text" placeholder="Maks grense 255 tegn" /><br />

        <label asp-for="UpsertArbDok.Status"></label>
        <input asp-for="UpsertArbDok.Status" type="text" /><br />

        <input type="submit"/>
    </form>
</body>