@using Igland.MVC.Models.ArbDok;
@using Igland.MVC.CommonMethods;
@model ArbDokFullViewModel

@{
    Date date = new Date();
    DateOnly today = DateOnly.FromDateTime(DateTime.Now);
}

<h1>Arbeidsdokument</h1>
<a style="text-decoration:none" asp-controller="ArbDok" asp-action="Index">
    <div>Tilbake</div>
</a>
<hr />
<body>
    <form asp-action="Post" asp-controller="ArbDok" method="post">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <!-- <label asp-for="UpsertArbDok.ArbDokID"></label>
        <input asp-for="UpsertArbDok.ArbDokID" type="number" /><br /> -->

        <label asp-for="UpsertArbDok.OrdreNummer"></label><br />
        <input asp-for="UpsertArbDok.OrdreNummer" type="number" required/><br />

        <label asp-for="UpsertArbDok.Uke">Booket service til uke</label><br />
        <input asp-for="UpsertArbDok.Uke" type="text" /><br />

        <!--
        <label asp-for="UpsertArbDok.Kunde"></label><br />
        <input asp-for="UpsertArbDok.Kunde" type="text" required/><br />

        <label asp-for="UpsertArbDok.Vinsj"></label><br />
        <input asp-for="UpsertArbDok.Vinsj" type="text" required/><br />
        -->

        <label asp-for="UpsertArbDok.HenvendelseMotatt"></label><br />
        <input asp-for="UpsertArbDok.HenvendelseMotatt" type="date" value="@date.formatDateForInputField(today)" required /><br />

        <label asp-for="UpsertArbDok.AvtaltLevering"></label><br />
        <input asp-for="UpsertArbDok.AvtaltLevering" type="date" /><br />

        <label asp-for="UpsertArbDok.ProduktMotatt"></label><br />
        <input asp-for="UpsertArbDok.ProduktMotatt" type="date" /><br />

        <label asp-for="UpsertArbDok.SjekkUtfort"></label><br />
        <input asp-for="UpsertArbDok.SjekkUtfort" type="date" /><br />

        <label asp-for="UpsertArbDok.AvtaltFerdig"></label><br />
        <input asp-for="UpsertArbDok.AvtaltFerdig" type="date" /><br />

        <label asp-for="UpsertArbDok.ServiceFerdig"></label><br />
        <input asp-for="UpsertArbDok.ServiceFerdig" type="date" /><br />

        <label asp-for="UpsertArbDok.AntallTimer"></label><br />
        <input asp-for="UpsertArbDok.AntallTimer" type="number" /><br />

        <label asp-for="UpsertArbDok.BestillingFraKunde"></label><br />
        <!-- <textarea asp-for="UpsertModel.BestillingFraKunde" type="text" placeholder="Maks grense 255 tegn"></textarea> -->
        <input asp-for="UpsertArbDok.BestillingFraKunde" type="text" class="form-control-md" style="width: 100%; height: 100px; overflow: scroll;" placeholder="Maks grense 255 tegn" /><br />

        <label asp-for="UpsertArbDok.NotatFraMekaniker"></label><br />
        <!-- <textarea asp-for="UpsertModel.NotatFraMekaniker" type="text" placeholder="Maks grense 255 tegn"></textarea> -->
        <input asp-for="UpsertArbDok.NotatFraMekaniker" type="text" class="form-control-md" style="width: 100%; height: 100px; overflow: scroll;" placeholder="Maks grense 255 tegn" /><br />
        <br />
        <!--
        <label asp-for="UpsertArbDok.Status"></label><br />
        <input asp-for="UpsertArbDok.Status" type="text" /><br />
        -->

        <input type="submit"/>
    </form>
</body>