
@{

}

<h1>Arbeidsdokument</h1>
<br>

<div class="bokser">
    <div>
        <h3>Ordrenummer: 11102023202657-00001</h3>
        <h3>Kunde: Thomasen Skogbruk AS</h3>
        <h2>Vinsj M2 #82504523</h2>
    </div>
    <br>
    <div>
        <p>Henvendelse motatt: 25.09.2023</p>
        <br>
        <p>Avtalt levering: 27.09.2023</p>
        <p>Produkt motatt: 27.09.2023</p>
        <br>
        <p>Sjekk utført: 27.09.2023</p>
        <br>
        <p>Avtalt ferdigstillelse innen: 29.09.2023</p>
        <p>Service ferdig: N/A</p>
        <br>
        <p>Antall arbeidstimer: 7,5</p>
    </div>
    <br>
</div>


<div class="bokser">
    <h3>Bestilling/feilbeskrivelse fra kunde</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan nisi in posuere mattis. Vestibulum consequat massa ut risus molestie dignissim. Pellentesque volutpat mauris nec tristique vulputate. Vivamus ornare libero lectus, vulputate dignissim velit feugiat fermentum. Praesent in felis eu nisi bibendum dapibus et sed magna. Ut porttitor iaculis leo vitae faucibus. Donec a leo vestibulum, ornare erat pharetra, ullamcorper enim. Nullam in tempor eros, a facilisis ante. Etiam sit amet sapien hendrerit, vulputate justo sit amet, venenatis turpis. Aliquam ut neque ac nibh dictum gravida.</p>
    <div id="bilde">placeholder for bilde</div>
</div>

<div>
    <h3>Notat fra mekaniker</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan nisi in posuere mattis. Vestibulum consequat massa ut risus molestie dignissim. Pellentesque volutpat mauris nec tristique vulputate. Vivamus ornare libero lectus, vulputate dignissim velit feugiat fermentum. Praesent in felis eu nisi bibendum dapibus et sed magna. Ut porttitor iaculis leo vitae faucibus. Donec a leo vestibulum, ornare erat pharetra, ullamcorper enim. Nullam in tempor eros, a facilisis ante. Etiam sit amet sapien hendrerit, vulputate justo sit amet, venenatis turpis. Aliquam ut neque ac nibh dictum gravida.</p>
    <br>
    <h3>Status: Under arbeid</h3>
    <h4>Mekanisk</h4>
</div>

