

div {
    display: inline-table;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side {
    width: 45%;
    margin-left: 20px;
}

.input-field, .comment-field {
    width: 100%;
}

.comment-field {
    height: 150px;
}

#image-preview img {
    max-width: 100%;
    max-height: 200px;
}
