﻿@using Igland.MVC.Models.ArbeidsDokument;


@model ArbeidsDokumentFullViewModel
<h1>Arbeidsdokument</h1>
<br>
<body>
    <form asp-action="Post" asp-controller="ArbeidsDokument" method="post">
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()


        <label asp-for="UpsertModel.OrdreNummer"></label>
        <input asp-for="UpsertModel.OrdreNummer" type="number" required placeholder="10000000" /><br />

        <label asp-for="UpsertModel.Kunde"></label>
        <input asp-for="UpsertModel.Kunde" type="text" required placeholder="Kanskje få denne auto" /><br />

        <label asp-for="UpsertModel.Vinsj"></label>
        <input asp-for="UpsertModel.Vinsj" type="text" /><br />

        <label asp-for="UpsertModel.HenvendelseMotatt"></label>
        <input asp-for="UpsertModel.HenvendelseMotatt" type="date" /><br />

        <label asp-for="UpsertModel.AvtaltLevering"></label>
        <input asp-for="UpsertModel.AvtaltLevering" type="date" /><br />

        <label asp-for="UpsertModel.ProduktMotatt"></label>
        <input asp-for="UpsertModel.ProduktMotatt" type="date" /><br />

        <label asp-for="UpsertModel.SjekkUtfort"></label>
        <input asp-for="UpsertModel.SjekkUtfort" type="date" /><br />

        <label asp-for="UpsertModel.AvtaltFerdig"></label>
        <input asp-for="UpsertModel.AvtaltFerdig" type="date" /><br />

        <label asp-for="UpsertModel.ServiceFerdig"></label>
        <input asp-for="UpsertModel.ServiceFerdig" type="date" /><br />

        <label asp-for="UpsertModel.AntallTimer"></label>
        <input asp-for="UpsertModel.AntallTimer" type="number" /><br />

        <label asp-for="UpsertModel.BestillingFraKunde"></label>
        <textarea asp-for="UpsertModel.BestillingFraKunde" type="text" placeholder="Maks grense 255 tegn"></textarea>

        <label asp-for="UpsertModel.NotatFraMekaniker"></label>
        <textarea asp-for="UpsertModel.NotatFraMekaniker" type="text" placeholder="Maks grense 255 tegn"></textarea>

        <label asp-for="UpsertModel.Status"></label>
        <input asp-for="UpsertModel.Status" type="text" /><br />

        <input type="submit" />
    </form>

    <div class="form-container">
        <form asp-action="Post" asp-controller="ArbeidsDokument" method="post">
            <div class="left-side">
            
                <label for="input1">Ordrenummer:</label>
                <input required type="text" id="input1" class="input-field" placeholder="">

                <label for="input2">Kunde:</label>
                <input required type="text" id="input2" class="input-field" placeholder="">

                <label for="input3">Vinsj:</label>
                <input required type="text" id="input3" class="input-field" placeholder="">

                <label for="input4">Henvendelse motatt:</label>
                <input type="date" id="input4" class="input-field" placeholder="">

                <label for="input5">Avtalt levering:</label>
                <input type="date" id="input5" class="input-field" placeholder="">

                <label for="input6">Produkt motatt:</label>
                <input type="date" id="input6" class="input-field" placeholder="">

                <label for="input7">Sjekk utført:</label>
                <input type="date" id="input7" class="input-field" placeholder="">

                <label for="input8">Avtalt ferdigstillelse innen:</label>
                <input type="date" id="input8" class="input-field" placeholder="">

                <label for="input9">Service ferdig:</label>
                <input type="date" id="input9" class="input-field" placeholder="">

                <label for="input10">Antall arbeidstimer:</label>
                <input type="text" id="input10" class="input-field" placeholder="">

                <br />
                <br />


                <button type="submit" id="send-in">Send In</button>
           
            </div>

            

            <div class="right-side">
            <div>
                <label for="comment-field"> Bestilling/feilbeskrivelse fra kunde:</label>
                <textarea class="comment-field" placeholder="maks grense 500 tegn"></textarea>
                <div>
                    <label for="image">sett inn bildet her:</label>
                    <input type="file" id="image" accept="image/*">
                    <div id="image-preview"></div>
                </div>

                <br />
                <br />
                <br />


                <label for="comment-field"> Notat fra mekaniker:</label>
                <textarea class="comment-field" placeholder="maks grense 500 tegn"></textarea>

                <label for="input11">Status:</label>
                <input type="text" id="input11" class="input-field" placeholder="">

            </div>
            </div>

        </form>
           
    </div>

    <script>
        document.getElementById('image').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function() {
                const imgElement = document.createElement('img');
                imgElement.src = reader.result;

                const previewContainer = document.getElementById('image-preview');
                previewContainer.innerHTML = '';
                previewContainer.appendChild(imgElement);
            }

            reader.readAsDataURL(file);
        });
    </script>

</body>



@*
//  "Send In" knapp?
        document.getElementById('send-in').addEventListener('click', function() {
            // Validate if all necessary fields are filled out before sending
            // If validation passes, you can proceed with sending the data
            alert('Sending in the form data...');
        }); 

*@ 