@using Igland.MVC.Models.ServiceDocOversikt;

@model HomeFullViewModel


<div class="overskrift">

    <h1>Service Dokumenter </h1>
    <br />
    <div class="søkebar">
        <input type="text" placeholder="Søk etter navn, nummer..">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
</div>



<table id="tabell" , align="center">

    @* <thred> spare </thred> *@
    <tr>
        <th>
            OrdreNummer
        </th>

        <th>
            Kunde
        </th>

        <th>
            Produkt
        </th>

        <th>
            Status
        </th>

        <th>
            Service Ferdig
        </th>




        @* undergreier i tabellen *@

    

    <tbody>
    @foreach (var users in Model.UserList)
    {
    <tr>
    <td>@users.Id</td>
    <td>@users.Name</td>
    <td>@users.Email</td>
    </tr>
    }
    </tbody> 

</table>




