
@{
    ViewData["Title"] = "Service og sjekkliste";
}
    <p class="larger-text">Hva vil du gjøre idag?</p>
<div class="buttons">

    <a style="text-decoration:none" asp-controller="ArbDocsOversikt" asp-action="Index" class="box-link">
        <div class="box">Arbeidsdokumenter</div>
    </a>
    <a style="text-decoration:none" asp-controller="ServiceDokumentOversikt" asp-action="Index" class="box-link">
        <div class="box">Servicedokumenter</div>
    </a>
    <a style="text-decoration:none" asp-controller="SjekkListeOversikt" asp-action="Index" class="box-link">
        <div class="box">Sjekklister</div>
    </a>
    <a style="text-decoration:none" asp-controller="ArbeidsDokument" asp-action="Index" class="box-link">
        <div class="box">Nytt arbeidsdokument</div>
    </a>
    <a style="text-decoration:none" asp-controller="ServiceDokument" asp-action="Index" class="box-link">
        <div class="box">Ny servicedokument</div>
    </a>
    <a style="text-decoration:none" asp-controller="ServiceOrder" asp-action="Index" class="box-link">
        <div class="box">Ny sjekkliste</div>
    </a>
    <br />
    </div>