
@{
    ViewData["Title"] = "Service og sjekkliste";
}
<h3>Meny for skjemaer</h3>
<h4>
    Nå er koden satt opp slik at man kan knytte knappene til nye sider(controller) når de lages, bare endre på "asp-controller"
    og "asp-action" i koden til denne siden. F.esk Ny sjekkliste fører nå til ServiceOrder.
</h4>

<style>
    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
    }
</style>

<div class="buttons">
    <a asp-controller="ArbDocsOversikt" asp-action="Index">Arbeidsdokumenter</a>
    <a asp-controller="ServiceDocsOversikt" asp-action="Index">Servicedokumenter</a>
    <a asp-controller="SjekkListeOversikt" asp-action="Index">Sjekklister</a>
    <a asp-controller="ArbDok" asp-action="Index">Nytt arbeidsdokument</a>
    <a asp-controller="NyServiceDoc" asp-action="Index">Ny servicedokument</a>
    <a asp-controller="ServiceOrder" asp-action="Index">Ny sjekkliste</a>
</div>