.larger-text {
    font-size: 24px;
    text-align: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
}

.box-link {
    text-decoration: none;
}

    .box-link:hover .box {
        color: #E7792C;
    }

.box {
    background-color: #101820;
    color: #9CB7C2;
    padding: 100px 125px;
    border-radius: 50px;
    text-align: center;
}

    .box:hover {
        color: #9CB7C2;
    }
